body {
  margin: 0;
  padding: 0;
}

.navbar {
	width: 100%;
	height: 10vh;
	background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.form_container {
	width: 30%;
	margin: 10vh 35%;
	display: flex;
	flex-direction: column;
	border: 1px solid gray;
	padding: 2%;
	border-radius: 5px;
}

label , input {
   margin: 3% 0;
}

button {
   background-color: black;
   color: white;
   font-size: 1em;
   margin: 5% 0;
   outline: none;
}

.users_container {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.single_user {
	width: 50%;
	height: 70px;
	border: 1px solid black;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
}

.message {
	display: flex;
	align-items: center;
	justify-content: center;
}

.room_container {
	width: 100%;
	height: 90vh;
	display: grid;
	grid-template-rows: 40% 20% 40%;
}

.cards_container {
	border: 1px solid black;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.card {
	width: 20%;
	height: 85%;
	border: 1px solid black;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 2em;
	color: #5F9EA0;
}

.opponent_cards {
	background-color: #5F9EA0;
}

.middle {
	background-color: #ddd;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.points {
	width: 20%;
	height: 85%;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.small_points {
	width: 40%;
	height: 65%;
	border: 1px solid black;
	display: flex;
	align-items: center;
	justify-content: space-around;
	font-size: 1.2em;
	color: #5F9EA0;
}

.message_container {
	width: 50%;
	height: 70px;
	border: 2px solid palevioletred;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	font-size: 1.5em;
	color: gray;
	margin-top: 10%;
}



















